{% extends 'inicio/base.html' %}

{% block title %}Acerca de{% endblock title %}

{% block contenido %}

<div class="container mt-5">
  <div class="text-center">
      <img src="/media/about/mifoto.jpg" alt="Mi Foto" class="profile-image"><br>
      <h3>Mi Historia</h3>
      <p>¡Hola! Soy Esteban Alvarez Farhat.</p>
      <p>Soy Ingeniero en Informática, recibido en la Universidad Nacional Santo Tomas de Aquino, en </p>
      <p>la provincia de Tucumán. Estoy casado, esperado un hijo y juego al futbol en mis ratos libres,</p>
      <p>Siempre me intereso la seguridad informática y la administracion IT.</p><br><br><br>
  </div>
</div>

{% endblock contenido %}
