{% extends 'inicio/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock title %}

{% block contenido %}

  <div class="card border-primary mb-3" style="max-width: 300x; margin-left=20px;">
    <div class="card-header">Medios de Contactos:</div>
      <div class="card-body">
        <p class="card-text">
          Teléfono: +54 381-4145752<br>
          Correo electrónico: <a href="mailto:contacto@miempresa.com" class="text-primary">esteban_coki@hotmail.com</a><br>
          GitHub: <a href="https://github.com/coki123456" class="text-primary">https://github.com/coki123456</a>
        <p>
      </div>
    </div>
          
    <div class="card border-primary mb-3" style="max-width: 300x; margin-left=20px;">
    <div class="card-header">Dejanos tu consulta:</div>
      <div class="card-body">
        <p class="card-text"> 
          <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        <p>
      </div>
    </div> 
  </div>

{% endblock contenido %}
