
{% extends 'inicio/base.html' %}
{% load static %}

{% block title %}Pagina Inicio{% endblock title %}

{% block head%} <style>
  .Titulo{
    text-align: center;
      display: block;
      margin: 0 auto;
  }
</style>
{% endblock head %}


{%block contenido%}

  <div class="container mt-1">
    <div class="card border-primary mb-1" style="align-items: center;">
      <div class="form-container m-1">
        <div class="card-body">
          <div class="Titulo">
            <h4>NUEVA CATEGORIA</h4>
          </div>
          <div class="card-header bg-primary text-white">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-secondary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock contenido%}