
{% extends 'inicio/base.html' %}
{% load static %}

{% block title %}Pagina Inicio{% endblock title %}

{% block head%} <style>
  .Titulo{
    text-align: center;
      display: block;
      margin: 0 auto;
  }
</style>
{% endblock head %}


{%block contenido%}

<div class="Titulo">
<br/><br/>
<h3>ESTAS POR ELIMINAR UN PRODUCTO!!!!</h3><br/>
<form method="post">
  {% csrf_token %}
  <p>¿Estás seguro que quieres eliminar el producto: {{ object }}?</p>
  <input type="submit" value="Sí, Eliminar" class="btn btn-primary">
  <a href="{% url 'listar_producto' %}" class="btn btn-primary">No, Cancelar</a>
</form>

</div>

{%endblock contenido%}