
{% extends 'inicio/base.html' %}
{% load static %}

{% block title %}Pagina Inicio{% endblock title %}

{% block head%} <style>
  .Titulo{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.profile-image {
    border-radius: 50%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
</style>
{% endblock head %}


{%block contenido%}

<div class="perfil">   
  <section class="testimonials text-center bg-light">
    <div class="container">
      <div class="row p-3">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          </div>
        </div>
        <div class="col-lg-4">
          <form method="post" action="{% url 'editar_perfil' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless col-md-5 fst-italic">
              {{ form_editar_perfil.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{%endblock contenido%}